.oauth-table {
    width: 100%;
}

.oauth-table .avatar {
    border-radius: 50%;
}



/* photo */
.user-photo {
    outline: none;
    cursor: pointer;
}
.user-photo img {
    border: 2px solid;
    border-radius: 50%;
    width: 120px;
}
#photo_replace {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
/* /photo */
